---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import HeroBanner from '../components/HeroBanner.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>

			<HeroBanner />

			<!-- Content -->
			<p>
				Restohub is a leading food and restaurant supply company established in 2016 with a clear mission: to be the ultimate one-stop shop for all restaurant needs. We understand the challenges faced by food service businesses, and our goal is to simplify operations by providing a comprehensive range of high-quality products and reliable service. From spices and condiments to take-away packaging and kitchen cleaning supplies, Restohub is committed to supporting the success of your business.
			</p>
		
			<p>
				<h2>Contact Us</h2>
		
				For inquiries, orders, or partnerships, reach out to us at: <br><br>
		
				Email: <a href="mailto:sales@restohubph.com" target="_blank">sales@restohubph.com</a> <br>
				Phone: +63-917-905-2486 <br>
				Website: <a href="https://restohubph.com" target="_blank"></a>restohubph.com</a> <br>
				Address: 345 Aguirre Ave. Unit D RLV Bldg. BF Homes Parañaque, Metro Manila
			</p>
		
			<p>
				<h2>Join the Restohub Today!</h2>
				Let Restohub be your trusted partner in delivering exceptional dining experiences. Together, we can create a recipe for success!
			</p>
		</main>
		<Footer />
	</body>
</html>
